{% extends 'layout.html' %}

{% block title %}
  {{ book.title }}
{% endblock %}

{% block content %}
  {% if res %}
    <div class="">
      <h4 class="d-block p-2 bg-success text-white mt-3 rounded">{{book.title}}</h4>
      <h6><span class="text-success mt-3">Author: </span>{{ book.author }}</h6>
      <h6><span class="text-success mt-3">ISBN: </span>{{ book.isbn }}</h6>
      <h6><span class="text-success mt-3">publication year: </span>{{ book.year }}</h6>
      <h6 class="mt-3 mb-4">Go to goodreads: <a href="https://www.goodreads.com/book/isbn/{{ book.isbn }}">{{ book.title }}</a></h6>
      <div class="">
        {{ info }}
      </div>
      {% if  res.average_rating %}
        <div class="mt-3 d-inline p-2">The Average Rating <span class="rounded p-2 bg-success text-white"> {{ res.average_rating }} </span></div>
        <div class="mt-3 d-inline p-2">Number Of Ratings  <span class="rounded p-2 bg-success text-white"> {{ res.work_ratings_count }} </span></div>
      {% endif %}
      {% if session['username'] %}
          {% if not comment %}
              <form class="mt-4 p-2 border-top " action="/result/{{ book_isbn }}" method="post">
                <div class="form-group row">
                  <h6 class="col-4 m-4">Make a review</h6>
                  <input class="form-control col-8 mr-2" type="text" name="comment" placeholder="Put your comment here...." value="">
                  <select class="form-control col-1 mr-2" name="rate">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <button class="btn btn-success form-control col-2" type="submit" name="button">Submit</button>
                </div>
              </form>
          {% endif %}
        </div>
      {% endif %}

      {% if all_comments %}
        {% for this_comment in all_comments %}
          <div class="row mb-2 mt-4 p-2 border-top">
            <h5 class="col-2">{{ this_comment.username }}</h5>
            <span>Rate: {{ this_comment.rate }}</span>
            <p class="col-10 card-header p-2 border rounded">{{ this_comment.text }} </p>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
